@charset "utf-8";
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}
i {
    font-style: normal;
}
body {
    line-height: 1;
    //overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%; 
    margin: 0;
    //background-color: #ccc;
    font-family: 'Microsoft YaHei'!important;
    // background: url("https://ss1.baidu.com/9vo3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=2a5138cea164034f10cdc4069fc27980/622762d0f703918fc146cbd95b3d269759eec40a.jpg")
}

input {
    border: 0;
    outline: none;
    background-color: transparent;
}
em {
    font-style: normal;
}

:global {
    .text-over-ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .text-vertical-wrap {
        display: table;
        width: 100%;
        .text-vertical {
            vertical-align: middle;
            margin-bottom: 0;
            display: table-cell;
        }
    }
    .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
    .clearfloat{zoom:1}

}
/*滚动条垂直方向的宽度*/
::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
    background-color: rgba(229, 229, 229, 0.8);
}
/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
	//border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(153, 153, 153,1);
	background-color: rgba(153, 153, 153, 0.9);
}
/* 横向滚动条的滑动块 */
::-webkit-scrollbar-thumb:horizontal{
    //border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(153, 153, 153,1);
    background-color: rgba(153, 153, 153, 0.9);

}
* { touch-action: pan-y; }
