@charset "utf-8";

/*颜色*/
$color999: #999;
$color777: #74767a;
$color444: #404348;
$color333: #333333;
$color000: #000;
$color-fff: #fff;
$color-blue:#3399ff;
$color-gray:#f7f8f9;
$color-red:#f53636;
$color-default:#0099dd;
$color-add-tab:#bfbfbf;
$list-bg:#f5f5f5;
$color-orange:#FB8C16;
/* 边框颜色 */
$border-color: 1px solid #ececed;
$text-border-color: 1px solid #d0d1d4;

/* 屏幕宽度 */
$normal-tab-width: 520px;
$min-tab-width: 440px;
$max-tab-width: 520px;

/*======字体======*/
$font-family-yahei: 'Microsoft YaHei';
//$font-family-songti: simsun;
$font-family-songti: Arial, sans-serif, "Microsoft YaHei";
$font-family-english: Arial;
$font-size-normal: 12px;
$font-size-medium: 14px;
$font-size-large: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-28: 28px;
$line-height: 1.6;


